body {
    margin: 0;
    padding: 0;
    overflow-y:hidden;
}

.view-holder {
    height: 100vh;
    width: 300vw;
    overflow-x: scroll;
    overflow-y: hidden;
    color: white;
    font-weight:600;
    font-family:Arial;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.view {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.view.first {
    background: #FFEEEE; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view.second {
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view.third {
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffdde1, #ee9ca7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view.third img {
    height:250px;
    object-fit:cover;
}